*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(3, 3, 44);
}
header{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
    animation-name: parafo;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    background: transparent;
    color: white;
}
@keyframes parafo{

    10%{border-bottom:solid 2px rgb(114, 234, 2);}
    60%{border-bottom:solid 2px rgb(6, 226, 200);}
    60%{color: yellow;}
    
    }
    nav{
        animation-name: navega;
        animation-duration: 300s;
        animation-iteration-count: infinite;
    }
    @keyframes navega{
        10%{border-bottom:solid 3px rgb(114, 234, 2);}
        60%{border-bottom:solid 3px rgb(6, 226, 200);}
        }
        

    ul{
        display: flex;
        justify-content: space-around;
        text-align: center;
        list-style: none;
    }
    li{
        margin: 10px;
        color: rgb(239, 244, 244);
        font-size: 20px;
    } a{
        text-align: center;
        font-size: 20px;
        padding: 4px;
        text-decoration: none;
    }
    .menu {
        width: 10rem; 
        float: left;
        background: black;
        opacity: 0.9;
    margin: 2px 6px ;
    height: 90vh;
        }
    .menu a{
        width: 10rem;
        position: absolute;
        text-decoration: none;
        left: -140px;
        transition: 0.6s;
        z-index: 12;
        
        }
    .menu a:hover{
        left: 0;
    
    } 
    .uno{
        bottom: 400px;
        background: rebeccapurple;
        border-radius: 4px;
        height: 20px;
        color: white;
        }
        .uno:hover{
            background: black;
        }
        .dos{
        bottom: 360px;
        background: rgb(222, 241, 11);
        border-radius: 4px;
        height: 20px;
        color: white;
        }
        .dos:hover{
            background: black;
        }
        .tres{
        bottom: 320px;
        background: rgb(6, 207, 183);
        border-radius: 4px;
        height: 20px;
        color: white;
        }
        .tres:hover{
            background: black;
            
        }
        .cuatro{
            bottom: 278px;
            background: rgb(8, 8, 232);
            border-radius: 4px;
            height: 20px;
            color: white;
         }
         .cuatro:hover{
         background: black;
                
        }
         .cinco{
         bottom: 240px;
         background: green;
         border-radius: 4px;
         height: 20px;
         color: white;
        }
        .cinco:hover{
             background: black;
                    
            }
        .seis{
        bottom: 200px;
        background: lightcoral;
        border-radius: 4px;
        height: 20px;
        color: white;
        }
        .seis:hover{
        background: black;
    
    }
.mensaje1{
        background-image: linear-gradient(to right ,  rgb(224, 221, 221), rgb(4, 229, 240), blue,rgb(64, 255, 0));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: bold;
        font-size: 30px;
        left: 400px;
        margin-left: 400px;
    }
.lista__productos{
    margin-left: 20px;
}
.carrito__compras{
 display: grid;
 grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.imagen__producto{
    width:50%;
    animation: imagenes 4s  1;
    transition: all 5s;
}
@keyframes imagenes{
    from{
opacity: 0;
transform: scale(0.1);
    }to{
    transform: scale(1.1);
    box-shadow: 1px 1px 20px rgba(6, 226, 200,9);
    }
}
.titulo__producto{
    font-size: 15px;
}
.descripcio__producto{
font-size: 12px;
width:70%;
}
.precio__producto{
    font-size: 20px;
}
.btnboton{
    width: 50%;
    height: 5vh;
    font-size: 15px;
    border-radius: 4px;
}
button:hover{
    background: rgb(6, 207, 183);
    box-shadow: 2px 4px 6px 7px rgb(8, 206, 203);
    border: none;
}


@media screen and (max-width: 375px) {

}
@media screen and (max-width: 425px) {
    body{
        background: black;
    }
  
    img{
        width: 130px;
    }
    #mensaje1{
        font-size: 15px;
        margin-left: 100px;
    }
    ul{
        display: block; 
    }
    .uno{
        top: 750px;
        }
        .dos{
        top: 950px;
        }
        .tres{
        top: 910px;
      
        }
        .cuatro{
            top: 870px;    
         }
         .cinco{
         top: 830px;
        }
    .seis{
        top: 790px;
        }
}

@media screen and  (max-width:768px) {
    #mensaje1{
        font-size: 20px;
        margin-left: 260px;
        padding: 10px;
    }
    .menu a{
        width: 7rem;
        left:0px;
        background: transparent;
        
        }
   .fa-regular{
    font-size: 15px;
    animation: 2s mano infinite;
   }
   @keyframes mano{
    from{
opacity: 0;
    }to{
        opacity: 1;
    }
   }

    .uno{
        top: 270px;
        }
        .dos{
        top: 300px;
        }
        .tres{
        top: 330px;
      
        }
        .cuatro{
            top: 360px;    
         }
         .cinco{
         top: 390px;
        }
    .seis{
        top: 790px;
        }
        .Lista__menu{
            font-size: 15px;
        }
}


@media screen and(max-width:1024px) {
    
}